/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul {
  margin: 0;
  padding: 0;
}

/* game styles*/

body{
  background-color: whitesmoke;
  font-family: 'Original Surfer', cursive;
  max-width: 1440px;
  
}

#canvas{
  display: block;
  justify-content: center;
  align-items: center;

}

#container{
  background-image: url();
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0;
}

.button{
  border: 1px solid rgb(33, 193, 233);
  border-radius: 90%;
  background-color: rgb(33, 193, 233, 0.8);
  padding: 3%;
}