/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul, h1 {
  margin: 0;
  padding: 0;
}

/* game styles*/


body{
  
  font-family: 'Original Surfer', cursive;
  max-width: 1440px;
}

h1{
 font-size: 3rem;
 font-weight: bold;
}

#container{
  background-image: url("../images/backgroundSplash.jpg");
  background-size: cover;
  
}
#x{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20%;
  
}
.playerName{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 5%
}
textarea{
  resize: none;
  background: transparent;
  border: 1px dashed;
  border-radius: 5%

}
.button{
  background-image: url("../images/surfboard.png");
  background-size: cover;
  padding: 7.2% 5% 5% 12%;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#y{
  display: flex;
  flex-direction: row;
}

.info{
  display: flex;
  justify-content: end;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  flex-direction: column;
}
#canvas{
  background-image: url("../images/background.jpg");
  background-size: cover;
  display: block;
  justify-content: flex-end;
  align-items: center;
}

#z{
  background-image: url("../images/backgroundGameOver.png");
  background-size: cover;
  opacity: 0.8;
  padding: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  }
  
.gameOver{
  background-image: url("../images/gameOver.png");
  background-size: cover;
  padding-bottom: 4%;
  padding-left: 25%;
}
  

