/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul {
  margin: 0;
  padding: 0;
}

/* game styles*/

body{
  background-color: whitesmoke;
  font-family: 'Original Surfer', cursive;
  max-width: 1440px;
  
}

#canvas{
  display: block;
  justify-content: center;
  align-items: center;

}

#container{
  display: flex;
  /* justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; */
  padding-top: 0;
}
#x{
  background-image: url("../images/backgroundSplash.jpg");
  background-size: cover;
  padding: 20%;
  
}

#y{
  background-image: url("../images/background.jpg");
  background-size: cover;
}
#z{
    background-image: url("../images/backgroundGameOver.png");
  background-size: cover;
  padding: 40%;

  }


.button{
  border: 1px solid rgb(33, 193, 233);
  border-radius: 90%;
  background-color: rgb(33, 193, 233, 0.8);
  padding: 3%;
}